<body style="background-image: url(../assets/bg.JPEG);
background-repeat: no-repeat;
  background-size: 100% 100%;">


  <div>
    <div style="background-color: darkblue;"><button mat-button [matMenuTriggerFor]="menu"
        style="margin: 1%;background-color: black;color: white;">Menu</button>
      <h1 style="display: inline;margin-left: 33% ;color: wheat;font-size: x-large;">Complaint Portal</h1>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLinkActive="active" routerLink="/books-list">Show Complaints</button>
      <button mat-menu-item routerLinkActive="active" routerLink="/add-book">Add Complaints</button>
      <button mat-menu-item routerLinkActive="active" routerLink="/login"
        *ngIf="!securityObject.isAuthenticated">Login</button>
      <button mat-menu-item (click)="refresh()" *ngIf="securityObject.isAuthenticated">Logout</button>


    </mat-menu>

  </div>
  <div style="margin-top: 5%;"></div>

  <router-outlet></router-outlet>
</body>