<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" style="margin-left: 40%;">
      <div class="form-group">
        <label class="form-head">Subject</label>
        <input class="form-control" type="text" formControlName="name" required>
      </div>

      <div class="form-group">
        <label class="form-head">Sport</label>
        <input class="form-control" type="text" formControlName="price" required>
      </div>

      <div class="form-group">
        <label class="form-head">Description</label>
        <input class="form-control" type="text" formControlName="description" required>
      </div>

      <div class="form-group" style="margin-top: 5%;">
        <a href="/show-books"> <button mat-raised-button color="accent">Cancel</button></a>
        <button mat-raised-button color="accent" type="submit" style="margin-left: 10%;">Add Book</button>

      </div>
    </form>
  </div>
</div>
