.form-control {
  margin-top: 1%;
  margin-bottom: 1%;
}

.form-head {
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-control {
  margin-left: 5px;
  border-width: 3px;
  border-radius: 100px;
  border-color: black;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
